footer {
    background-color: var(--bg-footer);
    color: var(--bg-white);
    width: 100%;
    display: block;
}
.footer-content {
    max-width: 1130px;
    padding: 30px;
    margin: 0 auto;
    font-size: 10px;
    font-style: italic;
}
.footer-content p {
    margin: 0;
}
