@media (max-width: 790px){
  .footer_list_rigth{
    height: fit-content;
    flex-direction: column;
  }
  .footer_container{
    max-height: none;
  }
  
}

@media (max-width: 548px){
  .footer_container{
    flex-direction: column;
  }
  .footer_list_rigth_sub_container{
    flex-wrap: wrap;
  }
}
