@media screen and (max-width: 1200px) {
    .content {
        max-width: 940px;
    }
}

@media screen and (max-width: 993px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 794px) {
    .content{
      margin-top: 0;
    }
  }