.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.popup-container {
  position: relative;
  width: 600px;
  height: 402px;
}
.popup-background {
  width: 100%;
  height: auto;
  border: 3px solid white;
  border-radius: 2%;
}
.popup-close {
  position: absolute;
  top: 5%;
  left: 95%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}
.offer {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
.paragraph {
  margin: 0;
  font-size: 18px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
.close-modal {
  width: 30px;
  height: 30px;
  padding: 0;
  position: relative;
  top: -55%;
  right: -45%;
  background: transparent;
  border: none;
  cursor: pointer;
}
.popup-button {
  position: absolute;
 
  top: 88%;  
  left: 31%; 
  color: red !important;
  transform: translate(-50%, -50%);
  
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  display: block;
  width: 250px;
  max-width: 2000px;
  padding: 9px 20px;
  border-radius: 5px;
  border: 1px solid #ea8101;
  background-color: #FFE100;
  color: white;
  font-family: "Roboto", sans-serif;
  animation: 1s ease 0s infinite normal none running animation-he6h7w;
  cursor: pointer;
  border: none;
}
@keyframes animation-he6h7w {
  0%,
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 570px) {
  .popup-content {
    max-width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .popup {
    display: none;
  }
}
