.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.popup_container {
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid white;
}
.popup_container_title_container{
  text-align: center;
  font-family: 'ModalFont';
}
.popup_container_title{
  color: var(--text-white);
  font-size: 23px;
  font-weight: 700;
  text-align: center;
}
.popup_container_subtitle{
  color: var(--text-white);
  font-size: 23px;
  font-weight: 700;
  text-align: center;
}
.popup_container_close_container{
  width: 100%;
  margin-top: -20px;
  display: flex;
  position: absolute;
  justify-content: flex-end;
}
.popup-background {
  width: 100%;
  height: auto;
  border: 3px solid white;
  border-radius: 2%;
}
.popup_close {
  float: right;
  cursor: pointer;
  margin-right: 30px;
}
.offer {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
.paragraph {
  margin: 0;
  font-size: 18px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
.close-modal {
  width: 30px;
  height: 30px;
  padding: 0;
  position: relative;
  top: -55%;
  right: -45%;
  background: transparent;
  border: none;
  cursor: pointer;
}
.popup_button {
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  width: 200px;
  max-width: 2000px;
  padding: 9px 20px;
  border-radius: 5px;
  background-color: #f8d263;
  color: #000;
  font-family: "Roboto", sans-serif;
  animation: 1s ease 0s infinite normal none running animation-he6h7w;
  cursor: pointer;
  border: none;
}
@keyframes animation-he6h7w {
  0%,
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 570px) {
  .popup-content {
    max-width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .popup {
    display: none;
  }
}
