.miniModal {
  display: flex;
  width: 352px;
  height: 78px;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  background: black;
  color: white;
  position: fixed;
  left: 10px;
  animation: 10s ease 0s infinite normal none running animation-1kcvrf2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  font-size: 0.8rem;
  z-index: 2;
  padding: 17px 20px 17px 0px;
  cursor: pointer;
}
@keyframes animation-1kcvrf2 {
  0% {
    bottom: -100px;
  }
  10%,
  90% {
    bottom: 73px;
  }
  100% {
    bottom: -100px;
  }
}
.miniModal img {
  width: 80px;
  height: 78px;
}
.miniModal div > p:nth-child(1) {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px 0px 0px 15px;
  flex-direction: column;
  font-family: "Open Sans";
}
.miniModal div > p:nth-child(2) {
  display: flex;
  margin: 15px 0px 0px;
  background: transparent;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
@media only screen and (max-width: 570px) {
  .miniModal {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .miniModal {
    display: none;
  }
}
