.header_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_container{
    width: 100%;
    max-width: 1220px;
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid var(--color-gray-2);
    text-decoration: none;
    color: var(--bg-blue-dark);
}
.header_container_logo{
    min-width: 60px;
    max-height: 60px;
    min-height: 60px;
}
.header_list_left{
    width: fit-content;
    height: 60px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.header_list_left_item_image{
    list-style: none;
}
.header_list_rigth_item_hash_tag{
    text-decoration: none;
    color: var(--text-black);
}
.header_list_rigth_item_link{
    text-decoration: none;
    color: var(--bg-blue-dark);
}
.header_list_rigth_item_head_phones{
    text-decoration: none;
    color: var(--bg-blue-dark);

}
.header_list_rigth_item_news_paper{
    text-decoration: none;
    color: var(--text-white);
}
.header_list_left_item{
    padding: 10px 16px;
    color: var(--bg-blue-dark);
    list-style: none;
    font-weight: 700;
}

.header_list_rigth{
    width: fit-content;
    height: 60px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_list_rigth_item{
    padding: 10px 16px;
    list-style: none;
}
.header_list_rigth_item_head_phones{
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 5px;
    color: var(--bg-blue-dark);
    background: var(--bg-blue-light);
    border-radius: 8px;
    list-style: none;
}
.header_list_rigth_item_head_phones::before{
    display: block;
    width: 18px;
    height: 18px;
    content: "";
    background: var(--bg-image-headphones) no-repeat center/cover;
}

.header_list_rigth_item_news_paper{
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 5px;
    color: var(--text-white);
    background: var(--bg-blue-dark);
    border-radius: 8px;
    list-style: none;
}

.header_list_rigth_item_news_paper::before{
    display: block;
    width: 18px;
    height: 18px;
    content: "";
    background: var(--bg-image-news) no-repeat center/cover;
}
.header_list_rigth_item_icon_container{
    padding: 5px;
    list-style: none;
}
.header_list_rigth_item_icons{
    width: 18px;
    height: 18px;
}
.header_list_rigth_item_mobile_menu{
    height: 60px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-red-menu);
    list-style: none;
}
.header_list_rigth_item_hash_tag_container{
    padding: 10px 16px;
    list-style: none;
}
.header_list_rigth_item_head_phones_container{
    padding: 10px 16px;
    list-style: none;
}
.header_list_rigth_item_news_paper_container{
    padding: 10px 16px;
    list-style: none;
}