@media (max-width: 1128px){
    .header_list_rigth_item_hash_tag_container{
        display: none;
    }
}
@media (max-width: 802px){
    .header_list_rigth_item_head_phones_container{
        display: none;

    }
}
@media (max-width: 662px){
    .header_list_rigth_item_news_paper_container{
        display: none;
    }
}
@media (max-width: 542px){
    .header_list_rigth_item_icon_container{
        display: none;
    }
}
@media (max-width: 454px){
    .header_list_left_item{
        display: none;
    }
}
