.header_section{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: red;
    font-size: 8px;
}

.header_container{
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: flex-end;
}
.header_container_main{
    min-width: 80%;
    min-height: 80px;
    background: blue;
    display: flex;
    z-index: 10;
}

.header_header_container{
    width: 100%;
    max-height: 42px;
    display: flex;
    justify-content: center;
    background: gray;
}
.header_header_top{
    width: 80%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background: black;
}
.header_header_list{
    width: 100%;
    padding: 0;
    display: flex;
}
.header_header_list_item{
    padding: 0 10px;
    list-style: none;
    color: #FFF;

}
.header_header_top_button_group{
    width: fit-content;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.header_header_top_button_group_button{
    width: fit-content;
    height: fit-content;
    padding: 2px 5px;
    background: white;
    border: none;
    border-radius: 4px;
    font-size: 8px;
    white-space: nowrap;
}

.header_container_main_top{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}