.header_top {
    width: 100%;
    position: relative;
    background-color: var(--bg-header-top);
}
.header_top_container, 
.header_bottom_container {
    width: 100%;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}
.header_top_img {
    width: 100%;
}
.header_top_menu_1050,
.header_top_menu_900,
.header_top_menu_650,
.header_top_menu_450 {
    display: none;
}
.header_middle {
    height: 79.41px;
    background: linear-gradient(to right, #fa1e42 0%,#fa1e42 46%,#0169a6 51%,#0169a6 100%);
}
.header_middle_container {
    height: 79.41px;
    width: 100%;
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
}
.header_middle_container img{
    height: 79.41px;
}
.header_bottom {
    background-color: #e6e6e6;
    height: 34.56px;
}
.header_bottom_container {
    max-width: 1170px;
}