@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
  --bg-header-top: #2a2a2a;
  --bg-footer: #333;
  --bg-white: #fff;

  --text-links: #0198bd;
  --text-link: #0198bd;

  --text-white: #FFFFFF;
  --text-black: #000000;
  --text-light: #333333;

  --bg-image-user: url("./assets/icons/user-fill-icon.webp");
  --bg-image-headphones: url("./assets/icons/newHeader/head_phones.webp");
  --bg-image-news: url("./assets/icons/newHeader/news_paper.webp");
  --bg-nav-header: #f1ebe4;
  --bg-header-top: #2c415c;
  
  --bg-white: #fff;
  --bg-primary: #2c2c2c;
  --bg-secondary: #0f3e61;
  --bg-gray-line-nav: #383838;
  --bg-orange: #f18b06;
  --bg-red-menu: #FA1E42;

  --bg-blue-dark: #0169A6;
  --bg-blue-light: #DEF0FC;
  

  --bg-white: #fff;
  --bg-primary: #2c2c2c;
  --bg-secondary: #0f3e61;
  --bg-footer: #2a303b;
  --bg-gray-footer: #a4a9b4;
  --bg-gray-steps: #f5f9fa;
  --box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);

  --color-white: #fff;
  --color-gray: #dddfe2;
  --color-gray-2: #DFDFDF;
  --color-gray-666: #666;
  --color-gray-ccc: #ccc;
  --color-gray-222: #222;
  --color-gray-fb-comments: #606770;
  --color-link-comments: #337ab7;
  --color-blue-fb: #365899;
  --color-blue-testimonials: #0198bd;

  --font-noto-serif-georgian: 'Noto Serif Georgian', serif;
  --font-oswald: 'Oswald', sans-serif;
  --font-georgia: Georgia;
  --font-roboto: 'Roboto', sans-serif;

}

.sticky_nav_header {
  width: 100%;
  position: fixed;
  top: 6px;
  opacity: 0.9;
  z-index: 9999;
}

.progress_bar {
  width: 100%;
  height: 6px;
  padding: 0;
  position: fixed;
  top: 0;
  background-color: var(--bg-gray-progress-bar);
  z-index: 9999;
}
.progress_bar_fill {
  height: 100%;
  background-color: var(--bg-gray-progress-bar-fill);
  transition: width 0.3s ease-out;
}

.title_blue {
  color: #337ab7 !important;

}
.title_blue:hover {
  color: #23527c !important;
}
.general_links{
  text-decoration: none;
  color: var(--text-link);
}
.general_links_bold {
  text-decoration: none;
  color: var(--text-link);
  font-weight: 700;
}
.image_responsive_10 {
  width: 10%;
}
.image_responsive_20 {
  width: 20%;
}
.image_responsive_30 {
  width: 33%;
}
.image_responsive_40 {
  width: 40%;
}
.image_responsive_50 {
  width: 50%;
}
.image_responsive_60 {
  width: 60%;
}
.image_responsive_70 {
  width: 70%;
}
.image_responsive_80 {
  width: 80%;
}
.image_responsive_90 {
  width: 90%;
}
.image_responsive_100 {
  width: 100%;
}
.button_start_content {
  background: var(--bg-orange);
  border-radius: 10px;
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  width: 85%;
  display: block;
  padding: 15px 20px;
  margin: 20px auto 40px;
  font-weight: bold;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.button_start_content:hover {
  text-decoration: none;
  color: #ffffff;
  transform: translateY(-5px);
}
.read_more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  border: 0;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 30px;
  margin: 30px auto;
  border-radius: 5px;
  color: #fff;
  background-color: #e20714;
  transition: width 0.5s;
}

.read_more::after{
  width: clamp(20px, 35px, 50px);
  height: clamp(12px, 20px, 30px);
  display: block;
  content: "";
  background: var(--bg-image-arrow) no-repeat center/cover;
  animation: none;
}

.read_more:hover::after{
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {

  50% {
    transform: translateY(10px); /* Ajusta la distancia vertical del movimiento */
  }
}


.read_more:hover {
  width: 100%;
}
.App {
  width: 1220px;
  max-width: 1220px;
  padding: 0;
  margin: 6px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html {
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.42857143;
  justify-content: center;
}
* {
  outline: 0;
  box-sizing: border-box;
}
a,
img {
  cursor: pointer;
}
